.frame_border {
    border-style: solid;
    border-width: 2.5em;
    width: 80%;
    border-image-source: url(../img/ramka.png);
    border-image-slice: 100;
    border-image-repeat: stretch;
    border-image-width: 2;
}